/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color palette */
:root {
  --dark-blue: #122c34;
  --mild-blue: #224870;
  --blue-blue: #2a4494;
  --light-blue: #4ea5d9;
  --water-blue: #44cfcb;
  --text-white: #fff;
  --gold: #DBAE25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  padding: 2rem 0;
  background-color: var(--dark-blue);
  border-bottom: var(--mild-blue);
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.logo {
  font-size: 1.5rem;
  color: var(--text-white);
  text-decoration: none;
  text-transform: capitalize;
}

.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  column-gap: 1rem;
  margin-left: 1rem;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav-item a {
  font-size: 1rem;
  color: var(--text-white);
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

#search {
  padding: 0.2rem;
}

/* pop-up */
main {
  position: relative;
}

.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 1.5rem;
  width: 350px;
  color: var(--text-white);
  left: 25%;
  top: 100px;
  border-radius: 1rem;
}

.pop-up .icon {
  align-self: flex-end;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.pop-up h2 {
  font-weight: 600;
  padding: 0.5rem 0;
  margin: 0;
}

.details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.genre,
.language {
  display: flex;
  column-gap: 0.7rem;
}

.details h3 {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--gold);
}

.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.summary {
  font-weight: 200;
  font-size: 0.9rem;
  text-align: justify;
  color: var(--gold);
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 0;
}
